@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* for all typohgraphy and color */
@layer base {
  body {
    font-family: "Jost", sans-serif;
  }
}

.container {
  @apply max-w-[1410px] mx-auto;
}

@theme {
  /* for color */

  --color-head: #222222;
  --color-red: #d6001c;
  --color-second-red: #c32929;
  --color-second: #767676;
  --color-white: #ffffff;
  --color-third: #b9a16b;

  /* for Background */
  --color-primary: #faf9f8;
  --color-slide: #f5e6e0;
  --color-secondbg: #eeeeee;
  --color-footer: #e4e4e4;
}

/*for typography  */

/* head */
.head_70_bold {
  @apply font-bold text-[70px]/[80px];
}

.head_70_regular {
  @apply font-normal text-[70px]/[80px];
}

.head_35_regular {
  @apply font-normal text-[35px];
}

.head_35_bold {
  @apply font-bold text-[35px];
}

.head_26_bold {
  @apply font-bold text-[26px];
}

.head_26_medium {
  @apply font-medium text-[26px];
}

.head_26_regular {
  @apply font-normal text-[26px];
}

/* text */
.texts_18_medium {
  @apply font-medium text-lg;
}

.texts_18_regular {
  @apply font-normal text-lg;
}

.texts_16_medium {
  @apply font-medium text-base;
}

.texts_16_regular {
  @apply font-normal text-base;
}

.texts_15_medium {
  @apply font-medium text-[15px];
}

.texts_15_regular {
  @apply font-normal text-[15px];
}

.texts_14_medium {
  @apply font-medium text-[14px]/[24px];
}

.texts_14_regular {
  @apply font-normal text-[14px]/[24px];
}

.texts_13_regular {
  @apply font-normal text-[13px]/[24px];
}

.table-head th {
  @apply font-medium text-sm text-[#222] leading-6
}

/* for input css */

input:focus-visible {
  outline: none;
}

.c {
  color: #22222258;
}